<% content_for :title, t('devise.registrations.title_new') %>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 authentication text-center">
      <h2><%= t('devise.registrations.sign_up') %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :first_name, class: "sr-only" %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "name", placeholder: t('devise.first_name') %>
        </div><br />

        <div class="field">
          <%= f.label :last_name, class: "sr-only" %>
          <%= f.text_field :last_name, placeholder: t('devise.last_name') %>
        </div><br />

        <div class="field">
          <%= f.label :email, class: "sr-only"%>
          <%= f.email_field :email, autocomplete: "email", placeholder: ( t('devise.email') + "*") %>
          <% if resource.errors.messages[:email][0].present? %>
            <div class="error-message">Email <%=resource.errors.messages[:email][0]%></div>
          <% end %>
        </div><br />

        <div class="field">
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: (t('devise.password') + "*") %>
          <% if resource.errors.messages[:password][0].present? %>
            <div class="error-message">Password <%= resource.errors.messages[:password][0] %></div>
          <% end %>
        </div><br />

        <div class="field">
          <%= f.label :password_confirmation, class: "sr-only" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: ( t('devise.password_confirmation') + "*") %>
          <% if resource.errors.messages[:password_confirmation][0].present? %>
            <div class="error-message not-matching-password">Password confirmation <%=resource.errors.messages[:password_confirmation][0] %></div>
          <% end %>
        </div></br>

        <div class="field">
          <%= f.label t('users.contact_language') %>
          <% if I18n.locale.to_s == "en" %>
            <%= f.select :language, options_for_select([[t('users.contact_langugage_english'), 'en'], [t('users.contact_langugage_greek'), 'el']]) %>
          <% else %>
            <%= f.select :language, options_for_select([[t('users.contact_langugage_greek'), 'el'], [t('users.contact_langugage_english'), 'en']]) %>
          <% end %>
        </div><br />

        <div class="field">
          <%= f.check_box :subscribed %>
          <%= f.label  t('devise.registrations.want_subscription')%>
        </div><br />

        <div class="field">
          <%= f.label :agreement_terms do %>
            <%= f.check_box :agreement_terms %>
            <%= t('devise.registrations.agreement_terms_and_conditions_and_privacy_policy') %> <%= link_to t('devise.registrations.terms_and_conditions'), terms_and_conditions_path %> <%= t('devise.registrations.and') %> <%= link_to t('devise.registrations.privacy_policy'), privacy_policy_path %> <%= t('devise.registrations.of_bake_is_yum') %>.
          <% end %>
        </div><br />


        <div class="actions">
          <%= f.submit t('devise.registrations.sign_up'), class: "btn btn-default" %>
        </div>
      <% end %>

      <div>
        <h4><%= link_to t('devise.sessions.log_in'), new_session_path(resource_name) %><%= t('devise.registrations.if_you_already_have_account') %></h4>
      </div>
    </div>
  </div>

</div>
