<table>

  <thead>
    <tr>
      <td><h1 style="color:#aaf0d1; font-size:25px; text-align: center;"><%= @appname %></h1></td>
    </tr>
    <tr>
      <td>
        <p>You have a new user at Bake is Yum: </p>
        <p>Name: <%= @user.first_name %></p>
        <p>Last Name: <%= @user.last_name %></p>
        <p>E-mail: <%= @user.email %></p>
        <p>Subscribed: <%= @user.subscribed %></p>
      </td>
      </tr>
  </thead>

</table>
