<table style="width: 100%;">
    <tr>
      <td style="background-color:#fefefc; border-bottom:1px solid #aaf0d1 "><h1 style="color:#aaf0d1; font-size:25px; text-align:center"><%= @appname %></h1></td>
    </tr>

    <tr>
      <td>
        <p>Check out our new yummy recipe:</p>
      </td>
    </tr>
</table>

<table style="width:80%; margin-left:10%; text-align:center; border: 1px solid #aaf0d1; background-color:#fefefc ">
  <tbody>
    <tr>
      <td style="text-align:center">
        <h2><%= @recipe.name %></h2>
      </td>
    </tr>

    <tr>
      <td style="text-align:center">
        <%= link_to @recipe, :action => 'go', style: "text-decoration:none" do %>
          <%= image_tag(@recipe.image_url_url.to_s , style: "width:80%;", alt: @recipe.name, lazy: false) %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <p style="padding-left: 20px; padding-right: 20px;"><%= @recipe.short_description %></p>
      </td>
    </tr>
  </tbody>
</table>
<table style="width: 100%;">
  <tr>
    <td>
      <p>Give it a try and let me know if you liked it!</p>
      <p>I am looking forward for your comments!</p>
    </td>
  </tr>
</table>

<table>
  <tfoot>
    <tr>
      <td>
        <p style="margin-bottom:0">Enjoy,</p>
        <p style="margin-top:2px">Elina</p>
      </td>
    </tr>

    <tr>
      <td style="font-size:0.9em;">
        <p><strong>This email is created automatically. Please do not respond to this email.</strong></p>
        <p>You received this email because you have subscribed to the newsletter of <a href="https://bakeisyum.com/">Bake is Yum</a></p>
        <p>If you would like to unsubscribe, please click <%= link_to "here", unsubscribe_subscriptions_url(@subscription)%>.</p>
        <p>If you have any queries, please send to <%= mail_to "info@bakeisyum.com", "info@bakeisyum.com" %>.</p>
      </td>
    </tr>
  </tfoot>
</table>
