<table style="width: 100%;">
    <tr>
      <td>
        <p><%= t 'user_mailer.new_recipe.check_out_new_recipe' %></p>
      </td>
    </tr>
</table>

<table style="width:90%; margin-left:5%; text-align:center; border: 1px solid #aaf0d1; background-color:#fefefc ">
  <tbody>
    <tr>
      <td style="text-align:center">
        <h2><%= @recipe.name %></h2>
      </td>
    </tr>

    <tr>
      <td style="text-align:center">
        <%= link_to @recipe, :action => 'go', style: "text-decoration:none" do %>
          <%= image_tag(@recipe.image_url_url.to_s , style: "width:80%;", alt: @recipe.name, lazy: false) %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <p style="padding-left: 20px; padding-right: 20px;"><%= @recipe.short_description %></p>
      </td>
    </tr>
  </tbody>
</table>
<table style="width: 100%;">
  <tr>
    <td>
      <p><%= t 'user_mailer.new_recipe.give_it_a_try' %></p>
      <p><%= t 'user_mailer.new_recipe.looking_forward_to_comments' %></p>

    </td>
    </td>
  </tr>
</table>

<table>
  <tfoot>
    <tr>
      <td>
        <p style="margin-bottom:0"><%= t 'user_mailer.enjoy' %></p>
        <p style="margin-top:2px"><%= t 'user_mailer.elina_from_bake_is_yum' %></p>
      </td>
    </tr>
    <br>
    <tr>
      <td style="font-size:0.9em;">
        <p><strong><%= t 'user_mailer.automatically_created_email' %></strong></p>
        <p><%= t 'user_mailer.you_received_this_email_because_you_succeffully_subscribed' %><a href="https://bakeisyum.com/">Bake is Yum</a>.</p>
        <p><%= t 'user_mailer.for_any_queries_send_to_mail' %> <%= mail_to "info@bakeisyum.com", "info@bakeisyum.com" %>.</p>
        <p><%= t 'user_mailer.for_unsubscribe' %> <%= link_to t('user_mailer.here'), unsubscribe_subscriptions_url(@subscription)%>.</p>
      </td>
    </tr>
  </tfoot>
</table>
