<table>

  <thead>
    <tr>
      <td><h1 style="color:#aaf0d1; font-size:25px; text-align: center;"><%= @appname %></h1></td>
    </tr>
    <tr>
      <td>
        <p>Thank you! You have successfully subscribed to Bake is Yum!</p>
        <p>Now you will never miss a new recipe!</p>
        <p>Check out the latest recipes:</p></td>
      </tr>
  </thead>

  <tbody style="text-align: center;">
    <% @recipes.reverse.each do |recipe| %>
      <tr>
        <td>
          <%= link_to recipe, :action => 'go' do %>
            <div style="width:50%; background-color:#aaf0d1">
              <%= image_tag( recipe.image_url_url.to_s , style: "width:100%;", alt: recipe.name, lazy: false) %>
              <p style="padding-bottom:18px;"><%= recipe.name %></p>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td>
        <p style="margin-bottom:0">Enjoy,</p>
        <p style="margin-top:2px">Elina from Bake is Yum</p>
      </td>
    </tr>

    <tr>
      <td style="font-size:0.9em;">
        <p><strong>This email is created automatically. Please do not respond to this email.</strong></p>
        <p> You received this email because you have subscribed to the newsletter of <a href="https://bakeisyum.com/">Bake is Yum</a>.</p>
        <p>If you have any queries, please send to <%= mail_to "info@bakeisyum.com", "info@bakeisyum.com" %>.</p>
        <p>If you would like to unsubscribe, please click <%= link_to "here", unsubscribe_subscriptions_url(@subscription)%>.</p>
      </td>
    </tr>
  </tfoot>
</table>
