<table>
  <tbody>
    <tr>
      <% if @user.first_name.empty? %>
        <td><h2><%= t 'user_mailer.welcome.welcome' %> <%= t 'user_mailer.welcome.to' %> <a href="https://bakeisyum.com/" style="text-decoration:none; color::#aaf0d1">Bake is Yum</a>!</h2></td>
      <% else %>
        <td><h2><%= t 'user_mailer.welcome.welcome' %> <%= @user.first_name%> <%= t 'user_mailer.welcome.to' %> <a href="https://bakeisyum.com/" style="text-decoration:none; color::#aaf0d1">Bake is Yum</a>!</h2></td>
      <% end %>
    </tr>
    <tr>
      <td>
        <p><%= t 'user_mailer.welcome.hope_that_you_will_enjoy' %></p>
        <p><%= t 'user_mailer.welcome.save_favorite_recipes' %></p>
        <p><%= t 'user_mailer.welcome.give_them_a_try' %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p><%= t 'user_mailer.enjoy' %></p>
        <p><%= t 'user_mailer.elina_from_bake_is_yum' %></p>
      </td>
    </tr>

    <tr>
      <td style="font-size:0.9em;">
        <p><strong><%= t 'user_mailer.automatically_created_email' %></strong></p>
        <p><%= t 'user_mailer.welcome.you_received_this_email_because_you_created_acount' %> <a href="https://bakeisyum.com/">Bake is Yum</a></p>
        <p><%= t 'user_mailer.for_any_queries_send_to_mail' %> <%= mail_to "info@bakeisyum.com", "info@bakeisyum.com" %>.</p>
      </td>
    </tr>
  </tbody>
</table>
