<% @descriptions.each do |description| %>
  <% unless description.description.nil? %>
    <p class="recipe-description"><%= description.description.html_safe %></p>
  <% end %>
  <% unless description.image_url_url.nil? %>
    <%if !@recipe.ingredients_image_url.nil? && (File.basename(@recipe.ingredients_image_url_url.to_s) == File.basename(description.image_url_url.to_s)) %>
      <div class="imageBox">
        <div class="imageInn">
          <%= image_tag( description.image_url_url.to_s, alt: File.basename(description.image_url_url.to_s) , class: "img-responsive" ) %>
        </div>
        <div class="hoverImg">
          <%= image_tag( @recipe.ingredients_text_image_url_url.to_s, alt: File.basename(@recipe.ingredients_text_image_url_url.to_s) , class: "img-responsive", lazy: false) %>
        </div>
        <p class="not-touch-screens"><%= t('recipes.show.hover_over_image_to_see_ingredients') %></p>
        <p class="touch-screens"><%= t('recipes.show.tap_on_image_to_see_ingredients') %></p>
      </div>
    <% else %>
      <%= image_tag( description.image_url_url.to_s, alt: File.basename(description.image_url_url.to_s) , class: "img-responsive" ) %>
    <% end %>

  <% end %>
<% end %>
