<div class="nested-fields">
  <div class="field form-group">
    <%= f.label :description %>
    <%= link_to_remove_association "<i class='fa fa-trash-o'></i>".html_safe, f, data: { confirm: 'Are you sure that you want to remove this Description?' }, class: "remove-btn" %>
    <%= f.text_area :description, class: 'form-control',size: '5x10' %>
  </div>

  <div class="field form-group row">
    <%= f.label :image_url, class: "sr-only" %><br>
    <div class="col-xs-6" style="padding-left: 0">
      <%= f.file_field :image_url %>
    </div>
    <% if @recipe.descriptions[f.index.to_f] %>
      <div class="col-xs-6" style="padding-right: 0">
        <%= File.basename(@recipe.descriptions[f.index.to_f].image_url_url.to_s)%><br>
      </div>
    <% end %>
  </div>

</div>
