<%= form_for @recipe do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 recipe-form">
      <div class="recipe-fields">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :image_url %><br>
          <%= f.file_field :image_url %><br>
        </div>

        <div class="form-group">
          <%= f.label :short_description %>
          <%= f.text_area :short_description, class: 'form-control', size: '5x10' %>
        </div>

        <div class="form-group">
          <%= f.label :serving %>
          <%= f.text_field :serving, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :preparation_time %>
          <%= f.text_field :preparation_time, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :cooking_time %>
          <%= f.text_field :cooking_time, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :waiting_time %>
          <%= f.text_field :waiting_time, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :original_recipie_author %>
          <%= f.text_field :original_recipie_author, class: 'form-control' %>
        </div>


        <div class="form-group">
          <%= f.label :original_recipie_url %>
          <%= f.text_field :original_recipie_url, class: 'form-control' %>
        </div>


      </div> <!-- end recipe-fields -->

      <div class="descriptions-fields" id="descriptions">
        <h2>Editing Descriptions</h2>
        <%= f.fields_for :descriptions do |description| %>
          <%= render 'description_fields', f: description %>
        <% end %>
        <div class="links text-center">
          <%= link_to_add_association "<i class='fa fa-plus'></i> Add Description".html_safe, f, :descriptions, class: "btn btn-nested-fields" %>
        </div>
      </div> <!-- end descriptions-fields -->

      <% if false %>
      <div class="steps-filds" id="steps">
        <%= f.fields_for :steps do |step| %>
          <%= render 'step_fields', f: step %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "<i class='fa fa-plus'></i> Add Step".html_safe, f, :steps, class: "btn" %>
        </div>
      </div> <!-- end steps-fields -->

      <div class="notes-filds" id="notes">
        <%= f.fields_for :notes do |note| %>
          <%= render 'note_fields', f: note %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "<i class='fa fa-plus'></i> Add Note".html_safe, f, :notes, class: "btn" %>
        </div>
      </div> <!-- end notes-fields-->
      <% end %>

      <br>
      <div class="actions btn-submit">
        <%= f.submit class: 'btn' %>
      </div>

    </div>
  </div> <!-- end row -->
<% end %>
