<% @parts.each do |part| %>
  <% if part.ingredients.size > 0 %>
    <h4><%= part.name %></h4>
    <ul>
      <% part.ingredients.each do |ingredient| %>
        <li><p>
          <% if ingredient.weight && ingredient.weight % 1 == 0 %>
            <%=sprintf("%g",ingredient.weight)%>
          <% else %>
            <% if (['cup', 'tsp','tbsp'].include? ingredient.weight_unit) && (ingredient.weight < 1 ) %>
              <% if ingredient.weight % 0.33 == 0 %>
                  <%= sprintf("%g",ingredient.weight / 0.33) %>/3
              <% else %>
                <%= ingredient.weight.to_r %>
              <% end %>
            <% else %>
              <%= ingredient.weight %>
            <% end %>
          <% end %>
          <%= ingredient.weight_unit %>
          <% unless ingredient.weight_optional.nil? %>
            <span>(
            <% if ingredient.weight_optional && ingredient.weight_optional % 1 == 0 %>
              <%=sprintf("%g",ingredient.weight_optional)%>
            <% else %>
              <% if (['cup', 'tsp','tbsp'].include? ingredient.weight_optional_unit) && (ingredient.weight_optional < 1) %>
                <% if ingredient.weight_optional % 0.33 == 0 %>
                  <%= sprintf("%g",ingredient.weight_optional / 0.33) %>/3
                <% else %>
                  <%= ingredient.weight_optional.to_r %>
                <% end %>
              <% else %>
                <%= ingredient.weight_optional %>
              <% end %>
            <% end %>
            <%= ingredient.weight_optional_unit %>
            )</span>
          <% end %>
          <%= ingredient.name %>

        </p></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
