<% @parts.each do |part| %>
  <h4><%= part.name %></h4>
  <ul>
    <% part.ingredients.order(:id).each do |ingredient| %>
      <li><p>
        <% if ingredient.weight % 1 == 0 %>
          <%=sprintf("%g",ingredient.weight)%>
        <% else %>
          <% if ingredient.weight % 0.33 == 0 %>
              <%= sprintf("%g",ingredient.weight / 0.33) %>/3
          <% else %>
            <%= ingredient.weight.to_r %>
          <% end %>
        <% end %>
        <%= ingredient.weight_unit %>
        <% unless ingredient.weight_optional.nil? %>
          <span>(
          <% if ingredient.weight_optional % 1 == 0 %>
            <%=sprintf("%g",ingredient.weight_optional)%>
          <% else %>
            <% if ingredient.weight_optional % 0.33 == 0 %>
              <%= sprintf("%g",ingredient.weight_optional / 0.33) %>/3
            <% else %>
              <%= ingredient.weight_optional.to_r %>
            <% end %>
          <% end %>
          <%= ingredient.weight_optional_unit %>
          )</span>
        <% end %>
        <%= ingredient.name %>

      </p></li>
    <% end %>
  </ul>
<% end %>
