<div class="nested-fields">
  <div class="field form-group">
    <%= f.label "Part Name" %>
    <%= link_to_remove_association "<i class='fa fa-trash-o'></i>".html_safe, f, data: { confirm: 'Are you sure that you want to remove this Step?' }, class: "remove-btn" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="ingredients-fields">
    <div class="row w-85 m-auto">
      <div class="col-xs-3" style="padding-left:0px">Name</div>
      <div class="col-xs-2">Weight</div>
      <div class="col-xs-2">Unit</div>
      <div class="col-xs-2">Weight Opt.</div>
      <div class="col-xs-2">Opt. Unit</div>
      <div class="col-xs-1">Remove</div>
    </div>
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', f: ingredient %>
    <% end %>
    <div class="links text-center">
      <%= link_to_add_association "<i class='fa fa-plus'></i> Add Ingredient".html_safe, f, :ingredients, class: "btn btn-nested-fields w-85 m-auto" %>
    </div>
  </div> <!-- end ingredients-fields -->

  <div class="instructions-fields">
    <%= f.fields_for :instructions do |instruction| %>
      <%= render 'instruction_fields', f: instruction %>
    <% end %>
    <div class="links text-center">
      <%= link_to_add_association "<i class='fa fa-plus'></i> Add Instruction".html_safe, f, :instructions, class: "btn btn-nested-fields w-85 m-auto" %>
    </div>
  </div> <!-- end instructions-fields -->
  <hr class="w-85">

</div>
