<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<div class="row btn-new-recipe">
  <%= link_to '<span class="glyphicon glyphicon-plus-sign"></span> Add New Recipe'.html_safe, new_recipe_path, class: 'btn btn-default col-xs-12 col-md-3 col-md-offset-9' %>
</div><!-- end row -->

<div class="container">
  <div class="row">
    <% if @search_term && !@search_term.empty? %>
      <div class="col-xs-12 search-results">
        <h4 class="text-center">Search results for:</h4>
        <p><%= @search_term %></p>
      </div>
    <% end %>
    <%= render @recipes %>
    <div class="col-xs-12">
      <%= will_paginate @recipes %>
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->

<br>
