<div class="container recipe-show">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 recipe">
      <%= image_tag( @recipe.image_url_url.to_s , class: "img-responsive", alt: @recipe.name) %>
    </div>

    <div class="col-sm-12">
      <h2><%= @recipe.name %></h2>
      <% t = @recipe.updated_at %>
      <h6>Posted on <%= t.strftime("%B") + " " + t.strftime("%d") + "," + t.strftime("%Y")%></h6>
      <p class="borrowed-recipe text-center">Recipe borrowed from <%= link_to @recipe.original_recipie_author, @recipe.original_recipie_url %> and modified.</p>
      <p><%= @recipe.short_description %></p>
    </div>
  </div> <!-- end row -->

  <div class="row">
    <div class="social-share text-center col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
      <h4>Share</h4>
      <%= social_share_button_tag(@recipe.name) %>
    </div>
  </div> <!-- end row -->

  <div class="descriptions-show">
    <%= render 'descriptions' %>
  </div> <!-- end descriptions-show -->

  <div class="ingredients-show">
    <%= image_tag( @recipe.image_url_url.to_s , class: "img-responsive", alt: @recipe.name) %>
    <h2><%= @recipe.name %></h2>

    <div class="recipe-information row text-center">
      <% if @recipe.waiting_time.nil? %>
        <div class="col-sm-4 information-group">
      <% else %>
        <div class="col-sm-3 information-group">
      <% end %>
        <i class='far fa-clock'></i><br>
        <p class="information-input"><%=@recipe.preparation_time%></p>
        <p class="information-description">Preparation Time</p>
      </div>
      <% unless @recipe.waiting_time.nil? %>
        <div class="col-sm-3 information-group">
          <i class="fa fa-hourglass-o"></i><br>
          <p class="information-input"><%=@recipe.waiting_time%></p>
          <p class="information-description">Waiting Time</p>
        </div>
      <% end %>
      <% if @recipe.waiting_time.nil? %>
        <div class="col-sm-4 information-group">
      <% else %>
        <div class="col-sm-3 information-group">
      <% end %>
        <i class='far fa-clock'></i><br>
        <p class="information-input"><%=@recipe.cooking_time%></p>
        <p class="information-description">Cooking Time</p>
      </div>
      <% if @recipe.waiting_time.nil? %>
        <div class="col-sm-4 information-group">
      <% else %>
        <div class="col-sm-3 information-group">
      <% end %>
        <i class="fas fa-utensils"></i><br>
        <p class="information-input"><%=@recipe.serving%></p>
        <p class="information-description">Servings</p>
      </div>
    </div>

    <div class="ingredients-instructions">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <%= render 'parts_ingredients' %>
      </div>
      <div class="instructions">
        <h3>Instructions</h3>
      </div>
    </div>



    <ul class="notes-show">
      <%= render 'notes' %>
    </ul>

  </div> <!-- end ingredients-show -->



  <div>
    <div class="row comment-title">
      <%=  button_tag 'Leave a comment', class: 'btn btn-default col-xs-offset-5 col-md-offset-8 col-md-2 col-md-push-2', id: 'create-new-comment' %>
      <% if @comments.select(&:approved).count == 1 %>
        <h4 class="col-md-2 col-md-pull-10 count-approved-comments">1 Comment</h4>
      <% else %>
        <h4 class="col-md-2 col-md-pull-10 count-approved-comments"><%= @comments.where(:approved => true).count %> Comments</h4>
      <% end %>
      <% if signed_in? && (current_user.admin? || current_user.moderator?) %>
        <h4 class="col-xs-12 count-not-approved-comments"><%= @comments.where(:approved => false).count %> Not approved comments</h4>
      <% end %>
    </div>
    <%= render "new_comment" %>
    <%= render "comments" %>
  </div>


<div class="recipe-links-show">
  <% if signed_in? && (current_user.admin? || current_user.author?) %>
    <%= link_to '<i class="fa fa-edit"></i> Edit Recipe'.html_safe, edit_recipe_path(@recipe), class: 'btn btn-default' %>
    <%= link_to '<i class="fa fa-trash-o" ></i> Delete Recipe'.html_safe, @recipe, method: :delete, data: { confirm: 'Are you sure that you want to delete the recipe? You cannot undo this action.' }, class: 'btn btn-default'  %>
  <% end %>
  <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Go Back to all Recipes'.html_safe, recipes_path, class: 'btn btn-default' %>
</div>

</div> <!-- end container -->
