<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 recipe">
      <%= image_tag( @recipe.image_url , class: "img-responsive", alt: @recipe.name) %>
    </div>

    <div class="col-sm-12">
      <h2><%= @recipe.name %></h2>
      <% t = @recipe.updated_at %>
      <h6>Posted on <%= t.strftime("%B") + " " + t.strftime("%d") + "," + t.strftime("%Y")%></h6>
      <p><%= @recipe.description %></p>
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->

<%= social_share_button_tag(@recipe.name) %>


<div class="recipe-links-show">
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Back', recipes_path %>
<div>
