<!-- Head  -->
<% content_for :title, @recipe.name + " - Bake is Yum" %>
<%= render "open_graph_protocol_tags" %>
<%= render "structured_data" %>

<!-- Body -->
<div class="container recipe-show w-85">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 recipe">
      <%= image_tag( @recipe.image_url_url.to_s , class: "img-responsive", alt: @recipe.name, lazy: false) %>
    </div>

    <div class="recipe-introduction col-sm-12">
      <h2><%= @recipe.name %></h2>
      <% t = @recipe.created_at %>
      <h6>Posted on <%= t.strftime("%B") + " " + t.strftime("%d") + ", " + t.strftime("%Y")%></h6>
      <% unless @recipe.original_recipie_author.empty? %>
        <p class="borrowed-recipe-photos text-center">Recipe borrowed from
        <% unless @recipe.original_recipie_url.empty?%>
           <%= link_to @recipe.original_recipie_author, @recipe.original_recipie_url, target: "_blank" %>
        <% else %>
          <%= @recipe.original_recipie_author %>
        <% end %>
        and modified.</p>
      <% end %>

      <% unless @recipe.photos_from.empty? %>
        <p class="borrowed-recipe-photos text-center">Photos from
        <% unless @recipe.photos_from_url.empty?%>
           <%= link_to @recipe.photos_from, @recipe.photos_from_url, target: "_blank" %>
        <% else %>
          <%= @recipe.photos_from %>
        <% end %>
        and modified.</p>
      <% end %>
      <p><%= @recipe.short_description.html_safe %></p>
    </div>
  </div> <!-- end row -->

  <div class="social-share text-center m-auto rounded-border">
    <h4>Share</h4>
    <% if @recipe.photos_from.empty? %>
      <%= social_share_button_tag(@recipe.name, :url => request.original_url, :image => root_url + @recipe.image_url_url.to_s[1..-1], via: "Bake is Yum") %>
    <% else %>
      <%= social_share_button_tag(@recipe.name, :url => request.original_url, via: "Bake is Yum") %>
    <% end %>
  </div>

  <div class="text-center jump-to-recipe">
    <%= link_to "<i class='fas fa-arrow-alt-circle-down'></i> Jump to Recipe".html_safe, "#recipe-ingredients-instructions-notes", class: 'btn' %>
  </div>

  <div class="descriptions-show">
    <%= render 'descriptions' %>
  </div> <!-- end descriptions-show -->

  <div class="ingredients-instructions-notes rounded-border" id="recipe-ingredients-instructions-notes">
    <%= image_tag( @recipe.square_image_url_url(:show_thumb).to_s , class: "img-responsive", alt: @recipe.name) %>
    <h2><%= @recipe.name %></h2>
    <div class="rating text-center" data-rating="<%= @recipe.ratings.average(:rating)%>">
      <%= link_to "<i class='far fa-star'></i>".html_safe, recipe_ratings_path(@recipe, rating: 1, recipe_id: @recipe.id), method: :post, remote: true, id: "rating-star-1" %>
      <%= link_to "<i class='far fa-star'></i>".html_safe, recipe_ratings_path(@recipe, rating: 2, recipe_id: @recipe.id), method: :post, remote: true, id: "rating-star-2" %>
      <%= link_to "<i class='far fa-star'></i>".html_safe, recipe_ratings_path(@recipe, rating: 3, recipe_id: @recipe.id), method: :post, remote: true, id: "rating-star-3" %>
      <%= link_to "<i class='far fa-star'></i>".html_safe, recipe_ratings_path(@recipe, rating: 4, recipe_id: @recipe.id), method: :post, remote: true, id: "rating-star-4" %>
      <%= link_to "<i class='far fa-star'></i>".html_safe, recipe_ratings_path(@recipe, rating: 5, recipe_id: @recipe.id), method: :post, remote: true, id: "rating-star-5" %>
      <div class="rating-count">
        <% unless @recipe.ratings.empty? %>
          <% if @rating % 1 == 0 %>
            <%=sprintf("%g", @rating)%>
          <% else %>
            <% if @rating > 4.5 %>
              5
            <% else %>
              <%=number_with_precision(@rating, precision: 1)%>
            <% end %>
          <% end %>
          from <%= @recipe.ratings.load.size %> votes
        <% end %>
      </div>
    </div>
    <div class="like text-center">
      <% if user_signed_in? %>
        <% if @favorites.include? @recipe.id %>
          <%= link_to "<i class='fas fa-heart'></i>".html_safe, user_favorite_path(id: @favorite.id, user_id: @favorite.user_id), method: :delete, remote: true %>
          <div class="like-info-user">
            <div class="arrow-up"></div>
            <p class="remove-favorite m-auto">Remove <%= @recipe.name %> from your favorite recipes.</p>
          </div>
        <% else %>
          <%= link_to "<i class='far fa-heart'></i>".html_safe, user_favorites_path(current_user, recipe_id: @recipe.id), method: :post, remote: true %>
          <div class="like-info-user">
            <div class="arrow-up"></div>
            <p class="add-favorite m-auto">Add <%= @recipe.name %> to your favorite recipes.</p>
          </div>
        <% end %>
      <% else %>
        <i class='far fa-heart not-logged-in-user'></i>
        <div class="like-info-user">
          <div class="arrow-up"></div>
          <p class="m-auto">You should <%= link_to "login".html_safe, new_user_session_path %> first in order to add the recipe to your favorites.</p>
        </div>

      <% end %>
    </div>

    <div class="recipe-information row text-center">
      <% if @recipe.waiting_time.empty? %>
        <div class="col-sm-4 information-group">
      <% else %>
        <div class="col-sm-3 information-group">
      <% end %>
        <i class='far fa-clock'></i><br>
        <p class="information-input"><%=@recipe.preparation_time%></p>
        <p class="information-description">Preparation Time</p>
      </div>
      <% unless @recipe.waiting_time.empty? %>
        <div class="col-sm-3 information-group">
          <i class="fa fa-hourglass-o"></i><br>
          <p class="information-input"><%=@recipe.waiting_time%></p>
          <p class="information-description">Waiting Time</p>
        </div>
      <% end %>
      <% if @recipe.waiting_time.empty? %>
        <div class="col-sm-4 information-group">
      <% else %>
        <div class="col-sm-3 information-group">
      <% end %>
        <i class='far fa-clock'></i><br>
        <p class="information-input"><%=@recipe.cooking_time%></p>
        <p class="information-description">Cooking Time</p>
      </div>
      <% if @recipe.waiting_time.empty? %>
        <div class="col-sm-4 information-group">
      <% else %>
        <div class="col-sm-3 information-group">
      <% end %>
        <i class="fas fa-utensils"></i><br>
        <p class="information-input"><%=@recipe.serving%></p>
        <p class="information-description">Servings</p>
      </div>
    </div>

    <div class="ingredients-instructions">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <%= render 'parts_ingredients' %>
      </div>
      <div class="instructions">
        <h3>Instructions</h3>
        <%= render 'parts_instructions' %>
      </div>
    </div>

    <% unless @recipe.notes.empty? %>
      <div class="notes">
        <ul>
          <%= render 'notes' %>
        </ul>
      </div>
    <% end %>

  </div> <!-- end ingredients-instructions-notes -->

  <div>
    <div class="row comment-title">
      <%=  button_tag 'Leave a comment', class: 'btn btn-default col-xs-offset-5 col-md-offset-8 col-md-2 col-md-push-2', id: 'create-new-comment' %>
      <% if @comments.select(&:approved).size == 1 %>
        <h4 class="col-md-2 col-md-pull-10 count-approved-comments">1 Comment</h4>
      <% else %>
        <h4 class="col-md-2 col-md-pull-10 count-approved-comments"><%= @comments.where(:approved => true).size %> Comments</h4>
      <% end %>
      <% if signed_in? && (current_user.admin? || current_user.moderator?) %>
        <h4 class="col-xs-12 count-not-approved-comments"><%= @comments.where(:approved => false).size %> Not approved comments</h4>
      <% end %>
    </div>
    <%= render "new_comment" %>
    <%= render "comments" %>
  </div>

  <div id="go-top" title="Go to top" class="btn"><i class='fas fa-angle-up fa-lg'></i></div>


  <div class="recipe-links-show">
    <% if signed_in? && (current_user.admin? || current_user.author?) %>
      <%= link_to '<i class="fa fa-edit"></i> Edit Recipe'.html_safe, edit_recipe_path(@recipe), class: 'btn btn-default' %>
      <%= link_to '<i class="fa fa-trash-o" ></i> Delete Recipe'.html_safe, @recipe, method: :delete, data: { confirm: 'Are you sure that you want to delete the recipe? You cannot undo this action.' }, class: 'btn btn-default'  %>
    <% end %>
    <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Go Back to all Recipes'.html_safe, recipes_path, class: 'btn btn-default' %>
    <% if @recipe.new_recipe_email_sent %>
      <%= link_to 'Send new recipe email', send_new_recipe_email_path(recipe_id: @recipe.id), class: 'btn btn-default', id: 'send-new-recipe-'+ @recipe.id.to_s, disabled: true %>
    <% else %>
      <%= link_to 'Send new recipe email', send_new_recipe_email_path(recipe_id: @recipe.id), class: 'btn btn-default', id: 'send-new-recipe-'+ @recipe.id.to_s%>
    <% end %>
  </div>

</div> <!-- end container -->
