<% content_for :title, t('users.titles.edit_account') %>
<div class="container user-card text-center">
  <h1><%= t('users.edit.editing_account') %></h1>

  <%= render 'form', user: @user %>

  <% if signed_in? && current_user.admin? %>
    <%= link_to t('users.edit.go_back_to_account'), @user, class: 'btn btn-default' %>
    <%= link_to t('users.show_all_users'), users_path, class: 'btn btn-default' %>
  <% else %>
    <%= link_to t('users.edit.go_back_to_my_account'), @user, class: 'btn btn-default' %>
  <% end %>
</div>
