<% content_for :title, t('devise.passwords.title_edit') %>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 authentication text-center">
      <h2><%= t('devise.passwords.change_your_password') %></h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, class: "sr-only"%>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: t('devise.passwords.new_password') %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "sr-only" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t('devise.paswords.confirm_new_password') %>
        </div>

        <div class="actions">
          <%= f.submit t('devise.passwords.change_my_password') %>
        </div><br>
      <% end %>

      <div class="shared-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
