// Successfully subscribed
if ( <%= @subscription_error.nil? %> && <%= @privacy_policy %> == 1) {
  $(".subscribe-box").html("<p class='successfull-subscription'><%= t('subscriptions.successfull_subscription') %></p><p class='successfull-subscription'><%= t('subscriptions.you_will_receive_emails') %></p>")

// Error in subscription
} else {
  // Error in email
  if ( <%= !@subscription_error.nil? %> ) {
    var errorMessage;
    if ( <%= @subscription_error == "blank" %> ) {
        errorMessage = "<%= t 'subscriptions.email_cannot_be_blank' %>";
      } else if ( <%= @subscription_error == "invalid" %> ) {
        errorMessage = "<%= t 'subscriptions.email_is_invalid' %>";
      } else if ( <%= @subscription_error == "taken" %> ) {
        errorMessage = "<%= t 'subscriptions.email_has_already_been_taken' %>";
      }
    $(".email-error").html("<%= t 'subscriptions.the_email' %> " + errorMessage).show();
    $("#subscription_email").addClass("error");
  } else {
    $(".email-error").hide();
    $("#subscription_email").removeClass("error");
  }

  // Error in privacy policy
  if ( <%= @privacy_policy %> == 0) {
    $(".privacy_policy").addClass("error");
  }

}
