<% content_for :title, t("basic_pages.index.title") %>
<%= content_for :google_adsense do %>
<script data-ad-client="ca-pub-9781556105851173" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<% end %>
<% content_for :switch_path_en, url_for(locale_root_path(locale: "en")) %>
<% content_for :switch_path_el, url_for(locale_root_path(locale: "el")) %>

<!-- Carousel starts here -->
<div class="container-fluid" id="carousel-index">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <% if false %>
      <ol class="carousel-indicators">
        <% @recipes.reverse.each do |recipe| %>
          <li data-target="#carousel-example-generic" data-slide-to="<%= @recipes.index(recipe) %>" <%= 'class = active' if recipe == @recipes.last %>></li>
        <% end %>
      </ol>
    <% end %>

    <!-- Wrapper for slides -->
    <div class="carousel-inner rounded-border" role="listbox">
      <% @recipes.reverse.each do |recipe| %>
        <div class="item <%="active" if recipe == @recipes.last %>">
          <%= image_tag(recipe.image_url_url.to_s, class: "img-responsive", alt: recipe.name, lazy: false) %>
          <div class="carousel-caption">
            <%=link_to "#{recipe.name}", recipe, class: 'btn-read-more'%>
          </div>

        </div> <!-- end item -->
      <% end %>
    </div> <!-- end carousel-inner -->

    <!-- Controls -->
   <a class="left carousel-control rounded-border" href="#carousel-example-generic" role="button" data-slide="prev">
     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="right carousel-control rounded-border" href="#carousel-example-generic" role="button" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
  </div> <!-- end carousel-slide -->
</div> <!-- /container-fluid -->
<!-- Carousel ends here -->

<!-- Recipes list starts here -->
<div class="container">
  <div class="row">
    <!-- <div class="col-sm-9 col-sm-pull-3"> -->
    <div class="col-sm-9">
      <% @recipes.reverse.each do |recipe| %>
        <% if recipe.name and recipe.image_url_url.to_s %>
          <div class="col-xs-12 recipe-landing-card">
            <h2><%= recipe.name %></h2>
            <h6><%= t('recipes.show.posted_on', date: l( recipe.created_at, format: t('date.formats.recipe'))) %></h6>
            <%= link_to recipe, :action => 'go' do %>
              <div class="recipe-landing-img rounded-border">
                <%= image_tag( recipe.image_url_url.to_s , class: "img-responsive", alt: recipe.name) %>
              </div>
            <% end %>
            <p class="recipe-landing-description"><%= recipe.short_description.html_safe %></p>

          </div>
        <% end %>
      <% end %>
      <%=link_to t("basic_pages.index.check_out_all_recipes"), recipes_path, :class => 'col-xs-10 col-xs-offset-1 btn btn-get-more-recipes'%>
    </div>

    <!-- <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-push-9 col-sm-offset-0  text-center"> -->
    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0 text-center">
      <div class="about-me-index">
        <%= image_tag( "Elina_Charalampous.jpg", alt: "Elina Charalampous" , class: "img-responsive", lazy: false ) %>
        <h1>Bake is Yum</h1>
        <p><%= t "basic_pages.index.about_me" %></p>
        <%= link_to t("basic_pages.index.more_about_me"), about_path %>
      </div>

      <div class="follow-me rounded-border">
        <p><%= t 'basic_pages.index.follow_me_on' %></p>
        <div class="follow-me-links">
          <%= link_to "<i class='fab fa-facebook'></i>".html_safe, "https://www.facebook.com/bakeisyum",  target: "_blank" %>
          <%= link_to "<i class='fab fa-pinterest'></i>".html_safe, "https://gr.pinterest.com/bakeisyum/",  target: "_blank" %>
          <%= link_to "<i class='fab fa-instagram'></i>".html_safe, "https://www.instagram.com/bakeisyum/",  target: "_blank" %>
          <%= link_to "<i class='fab fa-youtube'></i>".html_safe, "https://m.youtube.com/channel/UC3_7JIDJOpQkrrsjFEbyH9g",  target: "_blank" %>
        </div>
      </div>

      <div class="subscribe-box rounded-border">
        <p class="subscribe-text"> <%= t 'basic_pages.index.subscribe_to_receive_emails' %></p>
        <%= form_with(model: @subscription) do |form| %>
          <div class="form-group">
            <%= form.label :email, t('basic_pages.index.email'), class: "email" %>
            <%= form.text_field :email, class: 'form-control' %>
            <p class="email-error"></p>
          </div>

          <div class="privacy_policy">
            <%= form.label :privacy_policy do %>
              <%= form.check_box :privacy_policy %>
              <%= t "basic_pages.index.aggree_to_subscribe" %><%= link_to t('basic_pages.index.privacy_policy'), privacy_policy_path %>.
            <% end %>
          </div>

          <div class="actions">
            <%= form.submit t('basic_pages.index.subscribe'), class: "btn btn-default" %>
          </div>
        <% end %>
      </div>

    </div>

  </div> <!-- end row -->
</div><!-- end container -->
<!-- Recipes list ends here -->
