<p> <%= t('devise.mailer.confirmation_instructions.welcome') +  @email + t('devise.mailer.confirmation_instructions.to_bake_is_yum') %>!</p>

<p><%= t('devise.mailer.confirmation_instructions.you_can_confirm_your_account') %></p>

<p><%= link_to t('devise.confirmation_instructions.confirm_my_acount'), confirmation_url(@resource, confirmation_token: @token) %></p>

<p><%= t('devise.mailers.cheers') %></p>
<p><%= t('devise.mailers.elina_from_bake_is_yum') %></p>
