<p><%= t('devise.mailers.hello')  + @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.mailers.email_changed.your_email_has_been_changed_to') %><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t('devise.mailers.email_changed.your_email_has_been_changed_to') %><%= @resource.email %>.</p>
<% end %>

<p><%= t('devise.mailers.cheers') %></p>
<p><%= t('devise.mailers.elina_from_bake_is_yum') %></p>
