<p><%= t('devise.mailers.hello') +  @resource.email %>!</p>

<p><%= t('devise.mailers.reset_password_instructions.someone_request_password_change') %></p>

<p><%= link_to t('devise.mailers.reset_password_instructions.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailers.reset_password_instructions.you_did_not_request_password_change') %></p>
<p><%= t('devise.mailers.reset_password_instructions.your_passwort_will_not_change_if_not_click_link') %></p>

<p><%= t('devise.mailers.cheers') %></p>
<p><%= t('devise.mailers.elina_from_bake_is_yum') %></p>
