<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156495058-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156495058-4');
    </script>

    <title><%= yield(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% if content_for?(:html_meta_tags) %>
      <%= yield(:html_meta_tags) %>
    <% else %>
      <meta name="description" content="<%= t 'head.description' %>">
      <meta name="keywords" content="<%= t 'head.keywords' %>">
      <meta name="image" content='<%= image_tag( "https://bakeisyum.com/uploads/recipe/image_url/8/Oatmeal_Cookies.jpg" , alt: "Bake is Yum") %>'>
    <% end %>

    <!-- Favicon Tag -->
    <%= favicon_link_tag asset_path('favicon.png') %>

    <!-- Canonical Tag -->
    <link rel="canonical" href="<%=request.original_url%>"/>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bakeisyum" />
    <meta name="twitter:creator" content="@elinacharalampous" />
    <% if content_for?(:twitter_meta_tags) %>
      <%= yield(:twitter_meta_tags) %>
    <% else %>
      <meta name="twitter:title" content="Bake is Yum">
      <meta name="twitter:description" content="<%= t 'head.twitter_card.description' %>">
      <meta name="twitter:image" content="https://bakeisyum.com/uploads/recipe/image_url/8/Oatmeal_Cookies.jpg">
    <% end %>

    <!-- Facebook meta tags -->
    <% if content_for?(:facebook_meta_tags) %>
      <%= yield(:facebook_meta_tags) %>
    <% else %>
      <meta property="og:title" content="Bake is Yum" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://bakeisyum.com/" />
      <meta property="og:image" content="https://bakeisyum.com/uploads/recipe/image_url/8/Oatmeal_Cookies.jpg">
      <meta property="og:image:alt" content="Bake is Yum" />
      <meta property="og:description" content="<%= t 'head.facebook_meta_data.description' %>" />
      <meta property="og:locale" content="<%= t 'head.facebook_meta_data.locale' %>">
      <meta property="og:site_name" content="Bake is Yum">
    <% end %>

    <!-- Pinterest meta tag -->
    <meta name="p:domain_verify" content="56687de4c1dd5d5006afdfe6be3abbf7"/>

    <!-- Font awesome Iconts -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts API -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&family=Tangerine:wght@400;700&Alegreya+Sans:wght@100;300;400;500&display=swap" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Google Structed Data -->
    <% if content_for?(:structured_data) %>
      <%= yield(:structured_data) %>
    <% else %>
      <script type='application/ld+json'>
      {
        "@context":"https://schema.org",
        "@graph":[{
          "@type":"Organization",
          "@id":"https://bakeisyum.com/#organization",
          "name":"Bake is Yum",
          "url":"https://bakeisyum.com/",
          "sameAs":[
            "https://www.facebook.com/bakeisyum/",
            "https://www.instagram.com/bakeisyum/",
            "https://gr.pinterest.com/bakeisyum/_created/",
            "https://m.youtube.com/channel/UC3_7JIDJOpQkrrsjFEbyH9g",
            "https://www.linkedin.com/in/elina-charalampous-4263b915b/"],
          "logo":{
            "@type":"ImageObject",
            "@id":"https://bakeisyum.com/#logo",
            "inLanguage":"<%= t 'head.google_structured_data.inlanguage' %>",
            "url":"https://bakeisyum.com/logo.png",
            "width":900,
            "height":300,
            "caption":"Bake is Yum"},
          "image":{
            "@id":"https://bakeisyum.com/#logo"}
          },{
          "@type":"WebSite",
          "@id":"https://bakeisyum.com/#website",
          "url":"https://bakeisyum.com/",
          "name":"Bake is Yum",
          "description":"<%= t 'head.google_structured_data.description' %>",
          "publisher":{
            "@id":"https://bakeisyum.com/#organization"},
          "potentialAction":[{
            "@type":"SearchAction",
            "target":"https://bakeisyum.com/recipes?utf8=%E2%9C%93&q={search_term_string}=&button=",
            "query-input":"required name=search_term_string"}],
          "inLanguage":"<%= t 'head.google_structured_data.inlanguage' %>"
          },{
          "@type":"CollectionPage",
          "@id":"https://bakeisyum.com/#webpage",
          "url":"https://bakeisyum.com/",
          "name":"<%= t 'head.google_structured_data.collection_page.name' %>",
          "isPartOf":{
            "@id":"https://bakeisyum.com/#website"},
          "about":{
            "@id":"https://bakeisyum.com/#organization"},
          "description":"<%= t 'head.google_structured_data.collection_page.description' %>",
          "inLanguage":"<%= t 'head.google_structured_data.inlanguage' %>",
          "potentialAction":[{
            "@type":"ReadAction",
            "target":["https://bakeisyum.com/"]}]
          }
        ]
      }
      </script>
    <% end %>
  </head>

  <body>
    <!-- Start navbar here -->
    <div id="wrapper">
      <% if false %>
      <div class="christmas candies">
          <% if true %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-1", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-2", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-3", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-4", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-5", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-6", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-7", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-8", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-9", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-10", alt: 'candy-cane') %>
        <%#= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-11", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-12", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-13", alt: 'candy-cane') %>
        <%#= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-14", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-15", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-16", alt: 'candy-cane') %>
        <%#= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-17", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-18", alt: 'candy-cane') %>
        <%#= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-19", alt: 'candy-cane') %>
        <%#= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-20", alt: 'candy-cane') %>
        <%= image_tag( 'candy-cane.png' , class: "img-responsive candy", id: "candy-21", alt: 'candy-cane') %>
        <% end %>
      </div>
      <% end %>
      <div class="container-fluid navigation-bar">
        <div class="row for-christmas">
          <%= link_to "Bake is Yum", locale_root_path(locale: I18n.locale.to_s), { :class=>"logo" }%>
          <% if false %>
          <div class="christmas-tree d-md-none">
            <%= image_tag( 'christmas-tree.png' , class: "img-responsive tree", alt: 'christmas tree') %>
            <%= image_tag( 'christmas-ornaments.png' , class: "img-responsive ornaments", alt: 'christmas tree') %>
          </div>
          <% end %>
          <i class="fa fa-bars navigation-bar-bars"></i>
          <hr class="navigation-bar-hr-collapse">
        </div>

        <div class='d-none d-lg-block'>
          <%= render "layouts/switch_language" %>
        </div>

        <div class="row navigation-bar-main-body">
          <% if false %>
          <div class="christmas-tree d-xs-none col-md-2 col-md-offset-1">
            <%= image_tag( 'christmas-tree.png' , class: "img-responsive tree", alt: 'christmas tree') %>
            <%= image_tag( 'christmas-ornaments.png' , class: "img-responsive ornaments", alt: 'christmas tree') %>
          </div>
          <div class="col-md-offset-1 col-md-4 nav-links">
          <% end %>
          <div class="col-md-offset-4 col-md-4 nav-links">
            <ul>
              <div class='d-none d-lg-none'>
                <%= render "layouts/switch_language" %>
              </div>
               <li><%= link_to t('navigation_bar.recipes'), recipes_path %></li>
                <li><%= link_to t('navigation_bar.about'), about_path %></li>
               <li><%= link_to t('navigation_bar.contact'), contact_path %></li>
            </ul>
          </div>

          <div class="col-md-1 col-md-push-3 login">
            <i class="fa fa-user-circle-o login-md"></i>
            <div class="login-collapsed">
              <% if user_signed_in? %>
                <p><%= t 'navigation_bar.hi' %> <b><%= current_user.first_name %>!<i class="fa fa-angle-down"></i></p></b>
                <ul>
                  <li><%= link_to(t('navigation_bar.my_account'), user_path(current_user)) %></li>
                  <li><%= link_to(t('navigation_bar.favorite_recipes'), user_favorites_path(current_user)) %></li>
                  <% if current_user.admin? %>
                    <li><%= link_to(t('navigation_bar.manage_users'), users_path) %></li>
                  <% end %>
                  <li><%= link_to(t('navigation_bar.logout'), destroy_user_session_path, method: :delete) %></li>
                </ul>
              <% else %>
                <%= link_to(('<span>' + t("navigation_bar.login_sign_up") + '</span><i class="fa fa-user-circle-o"></i>').html_safe, new_user_session_path) %>
              <% end %>
            </div>
          </div>

          <%= form_with(url: recipes_path, method: 'get', local: true, class: 'search-form form-horizontal col-md-3 col-md-pull-1') do |form| %>
            <div class="form-group">
              <div class="col-xs-10 search-input">
                <%= form.text_field :q, id: 'q', value: params[:q], placeholder: t("navigation_bar.search"), size: 40, class: 'form-control' %>
              </div>
              <%= button_tag(class: 'search-button col-xs-2') do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <% end %>
            </div>
          <% end %>
        </div><!-- end row -->

        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2 login-dropdown">
            <div class="arrow-up"></div>
            <div class="login-dropdown-box">
              <% if user_signed_in? %>
                <ul>
                  <li><p><%= t 'navigation_bar.hi' %> <b><%= current_user.first_name %>!</p></b></li>
                  <li><%= link_to(t('navigation_bar.my_account'), user_path(current_user)) %></li>
                  <li><%= link_to(t('navigation_bar.favorite_recipes'), user_favorites_path(current_user)) %></li>
                  <% if current_user.admin? %>
                    <li><%= link_to(t('navigation_bar.manage_users'), users_path) %><li>
                  <% end %>
                  <li><%= link_to(t('navigation_bar.logout'), destroy_user_session_path, method: :delete) %></li>
                </ul>
              <% else %>
                <%= link_to(t('navigation_bar.login_sign_up'), new_user_session_path) %>
              <% end %>
            </div>
          </div>
        </div><!-- end row -->
      </div> <!-- end container-fluid -->
    </div> <!-- end wrapper -->
    <!-- End navbar here -->

    <!-- main body here -->
    <div class="anchor">
      <!-- flash messages -->
      <div class="container">
        <% if notice %>
          <p id="notice" class="alert alert-info text-center", role="alert"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p id="alert" class="alert alert-danger text-center", role="alert"><%= alert %></p>
        <% end %>
      </div>

      <div class="main-body">
        <%= yield %>
      </div>
    </div>

    <!-- Start footer here -->
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-push-6">
            <div class="row">
              <p class="col-md-12 unsplash text-right"><%= t  'footer.photos_credit' %> <%= link_to 'Unsplash', 'https://unsplash.com/', target: :_blank %></p>
              <p class="col-md-12 designed_and_developed text-right"><%= t  'footer.designed_and_developed' %> <%= link_to 'Elina Charalampous', 'https://elinacharalampous.gr', target: :_blank %></p>
            </div>
          </div>
          <p class="col-md-6 col-md-pull-6 copyright">&copy; 2018 - <%= Date.today.year %> <%= link_to 'Elina Charalampous', 'https://elinacharalampous.gr', target: :_blank %></p>
        </div>
      </div> <!-- end container-fluid -->
    </footer>
    <!-- End footer here -->

    <!-- Start cookies acceptance -->
    <div class="cookies-acceptance text-center">
      <p><%= t('accept_cookies.accept_cookies_info') %> <%= link_to t('accept_cookies.here'), privacy_policy_path%>.</p>
      <%= button_tag t('accept_cookies.accept_html'), class: "btn", id: "accept-cookies" %>
    </div>
    <!-- End cookies acceptance -->
  </body>
</html>
