<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156495058-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156495058-4');
    </script>

    <title><%= yield(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Baking blog with dessert recipes of all kind from chocoholic Elina Charalampous with step by step recipes and demonstration pictures.">
    <meta name="keywords" content="baking blog, desserts, recipes, recipe, chocolate, cookies, brownies, cakes, tarts, smoothies">
    <meta name="image" content='<%= image_tag( "https://bakeisyum-elina.s3.amazonaws.com/uploads/IMG_4608__1_.jpg" , alt: "Bake is Yum") %>'>

    <!-- Favicon Tag -->
    <%= favicon_link_tag asset_path('favicon.png') %>

    <!-- Canonical Tag -->
    <link rel="canonical" href="<%=request.original_url%>"/>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bakeisyum" />
    <meta name="twitter:creator" content="@elinacharalampous" />

    <!-- Facebook meta tags -->
    <% if content_for?(:facebook_meta_tags) %>
      <%= yield(:facebook_meta_tags) %>
    <% else %>
      <meta property="og:title" content="Bake is Yum" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://bakeisyum.herokuapp.com/" />
      <meta property="og:image" content="https://bakeisyum-elina.s3.amazonaws.com/uploads/IMG_4608__1_.jpg">
      <meta property="og:image:alt" content="Bake is Yum" />
      <meta property="og:description" content="Bake is Yum - Dessert Recipes from Elina Charalampous" />
      <meta property="og:locale" content="en_US">
      <meta property="og:site_name" content="Bake is Yum">
    <% end %>

    <!-- Font awesome Iconts -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts API -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Google Structed Data -->
    <% if content_for?(:structured_data) %>
      <%= yield(:structured_data) %>
    <% else %>
      <script type='application/ld+json'>
        {
        "@context":"https://schema.org",
        "@graph":
          [{
  	      "@type":"Organization",
          "@id":"http://bakeisyum.herokuapp.com/#organization",
          "name":"Bake is Yum",
          "url":"http://bakeisyum.herokuapp.com/",
          "sameAs":[
      	     "https://gr.pinterest.com/elinachar/boards/"],
          "logo":{
       	    "@type":"ImageObject",
            "@id":"http://bakeisyum.herokuapp.com/#logo",
            "inLanguage":"en-US",
            "url":"http://bakeisyum.herokuapp.com/logo.png",
            "width":900,
            "height":300,
            "caption":"Bake is Yum"},
            "image":{"@id":"http://bakeisyum.herokuapp.com/#logo"
            }
          },
          {
          "@type":"WebSite",
          "@id":"http://bakeisyum.herokuapp.com/#website",
          "url":"http://bakeisyum.herokuapp.com/",
          "name":"Bake is Yum",
          "description":"Baking Blog and dessert recipes to follow, share and enjoy.",
          "publisher":{
       	    "@id":"http://bakeisyum.herokuapp.com/#organization"},
          "potentialAction":[{
            "@type":"SearchAction",
            "target":"http://bakeisyum.herokuapp.com/recipes?utf8=%E2%9C%93&q={search_term_string}=",
            "query-input":"required name=search_term_string"}],
          "inLanguage":"en-US"
          }]
        }
      </script>
    <% end %>
  </head>

  <body>
    <!-- Start navbar here -->
    <div class="container-fluid navigation-bar">
      <div class="row">
        <%= link_to "Bake is Yum", root_path, { :class=>"logo" }%>
        <i class="fa fa-bars navigation-bar-bars"></i>
        <hr class="navigation-bar-hr-collapse">
      </div>
      <div class="row navigation-bar-main-body">
        <div class="col-md-offset-4 col-md-4 nav-links">
          <ul>
             <li><%= link_to "About", about_path %></li>
             <li><%= link_to "Recipies", recipes_path %></li>
             <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>

        <div class="col-md-1 col-md-push-3 login">
          <i class="fa fa-user-circle-o login-md"></i>
          <div class="login-collapsed">
            <% if user_signed_in? %>
              <p>Hi <b><%= current_user.first_name %>!<i class="fa fa-angle-down"></i></p></b>
              <ul>
                <li><%= link_to('My account', user_path(current_user)) %></li>
                <li><%= link_to('Favorite Recipes', user_favorites_path(current_user)) %></li>
                <% if current_user.admin? %>
                  <li><%= link_to('Manage users', users_path) %></li>
                <% end %>
                <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
              </ul>
            <% else %>
              <%= link_to('<span>Login</span><i class="fa fa-user-circle-o"></i>'.html_safe, new_user_session_path) %>
            <% end %>
          </div>
        </div>

        <%= form_with(url: recipes_path, method: 'get', local: true, class: 'search-form form-horizontal col-md-3 col-md-pull-1') do |form| %>
          <div class="form-group">
            <div class="col-xs-10 search-input">
              <%= form.text_field :q, id: 'q', value: params[:q], placeholder: "Search...", size: 40, class: 'form-control' %>
            </div>
            <%= button_tag(class: 'search-button col-xs-2') do %>
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <% end %>
          </div>
        <% end %>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 login-dropdown">
          <div class="arrow-up"></div>
          <div class="login-dropdown-box">
            <% if user_signed_in? %>
              <ul>
                <li><p>Hi <b><%= current_user.first_name %>!</p></b></li>
                <li><%= link_to('My account', user_path(current_user)) %></li>
                <li><%= link_to('Favorite Recipes', user_favorites_path(current_user)) %></li>
                <% if current_user.admin? %>
                  <li><%= link_to('Manage users', users_path) %><li>
                <% end %>
                <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
              </ul>
            <% else %>
              <%= link_to('Login / Sign up', new_user_session_path) %>
            <% end %>
          </div>
        </div>
      </div><!-- end row -->



    </div> <!-- end container-fluid -->
    <!-- End navbar here -->

    <!-- main body here -->
    <div class="anchor">
      <!-- flash messages -->
      <div class="container">
        <% if notice %>
          <p id="notice" class="alert alert-info", role="alert"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p id="alert" class="alert alert-danger", role="alert"><%= alert %></p>
        <% end %>
      </div>

      <div class="main-body">
        <%= yield %>
      </div>
    </div>

    <!-- Start footer here -->
    <footer>
      <div class="container-fluid">
        <div class="row">
          <p class="col-sm-6 col-sm-push-6 unsplash">Photos from Elina Charalampous and <%= link_to 'Unsplash', 'https://unsplash.com/', target: :_blank %></p>
          <p class="col-sm-6 col-sm-pull-6 copyright">&copy; 2018 - <%= Date.today.year %> <%= link_to 'Elina Charalampous', 'https://elinacharalampous.gr', target: :_blank %></p>
        </div>
      </div> <!-- end container-fluid -->
    </footer>
    <!-- End footer here -->
  </body>
</html>
